*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #000000;
    --red: #f44336;
    --white: #fff;
    --background-color: #ccc;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

header{
    background-image: url(IMAGES/background-image);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 1rem;
}

ul li:last-child{
    margin-left: auto;
}

ul a{
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
}


/* Hotel Reservation */
.hotel-reservation{
    max-width: 650px;
    background-color: var(--white);
    margin: 210px 15px;
    
}

.checks{
    padding: 20px;
}

.hotel-name{
    background-color: var(--red);
    color: var(--white);
    font-size: 24px;
    padding: 0.8rem;
}

.check, .adult-and-kids{
    display: flex;
    gap: 10px;
}


.checks input{
    width: 300px;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid var(--background-color);
}

.search{
    background-color: #555;
    padding: 8px;
    width: 200px;
    text-align: center;
    color: var(--white);
}

.search:hover{
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

/* fill-rooms */
.fill-rooms{
    background-color: #f3f3f3;
    padding: 15px;
    width: 100%;
}

.rooms h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
}

.rooms p{
    margin-bottom: 15px;
    font-size: 16px;
    color: var(--text-color);
}

.input-checks-middle{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: nowrap;
    column-gap: 1rem;
}

.input-checks-middle input[type ="text"]
{
    padding: 10px 60px;
}

.input-checks-middle input[type ="number"]
{
    padding: 10px 30px;
}

.fill-check p{
    background-color: var(--text-color);
    color: var(--white);
    padding: 10px 80px;
    transition: .1s ease-in;
}

.fill-check p:hover{
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}